.a{
      
  width: 60wv;
  height: 300px;
  border: 2px solid silver;
  background-image: url(imge/1.jpg);
  box-shadow: 1px 1px 20px black;
  animation-name:moh ;
  animation-delay:4s ;
  animation-duration:20s ;
  animation-iteration-count: infinite;
  overflow: hidden;
  
}

@keyframes moh {
  10%{background-image:url(imge/43.jpg) ;}  
  20%{background-image:url(imge/67.jpg) ;}
  30%{background-image:url(imge/31.jpg) ;}
  40%{background-image:url(imge/34.jpg) ;}
  50%{background-image:url(imge/43.jpg) ;}
}
   


   .k{
    width: 200px;
    height: 150px;
    float: right;
    margin: 20px;
    transition: 1s;
   
     }
     .k:hover{
      transform: scale(1.3);
      
       }
     .n{
      width: 200px;
      height: 150px;
      float: right;
      margin: 20px;
      transition: 1s;
     
       }
       .n:hover{
        transform: scale(1.3);
         }

       .v{
        width: 200px;
        height: 150px;
        float: right;
        margin: 20px;
        transition: 1s;
       
         }
         .v:hover{
          transform: scale(1.3);
          
           }
  
           .text{
            width: 10px;
            height: 10px;
            font-size: 100%;
            color: #ffffff;
            float: right;
            margin-right: 10px;
            font-size: large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           }