*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:600px) {
    aside{
        font-weight: bold;
        margin-right: -210px;
       }
    main{
       margin-left: 100px;
       } 
    #d1 div{
     min-width: 500px;
     margin-right: 100px;
     border-radius: 20px;
       }
       footer{
       max-height: 200px;
       }
       footer div{
       font-size: 34px;
       }
       footer div a:hover{
        color: #ff4b5c;
        }
       
       }  


.t{
float: left;

}

header{
width: 100%;
height: 70px;
background-color:white;
box-shadow: 0px 0px 12px black;
position: fixed;
z-index: 1;
}
header button{
width: 140px;
padding: 10px;
margin-top: 12px;
background-color: #0d1785;
color: white;
border: none;
outline: none;
font-size: 18px;
box-shadow: 0px 0px 8px whitesmoke;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
transition: .1s;
}
header button:hover{
    color:white;
    background-color: #ff4b5c;
    


}
header img{
    width: 70px;
    height: 60px;
    float: right;
    margin-top: 5px;
    margin-left: 8px;
}
#imol{
width: 100%;
min-width: 700px;
height: 650px;
margin-top: 70px;
}

marquee{
    position:absolute;
    top: 170px;
    left: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 400px;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
aside{
width: 20%;
height: 700px;
background:white;
float: right;
margin-top: -4px;

}

aside button{
width: 100%;
min-width: 200px;
height: 65px;
min-height: 110px;
font-size: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
background: rgb(18, 18, 91);
color: #ffffff;
border: none;
border-bottom: 1px solid #407088;
border-left: 1px solid #407088;
outline: none;
transition: .1s;
}
aside button:hover{
color:white;
background-color: #ff4b5c;

}
main{
    width: 100%;
    min-width: 200px;
    height: 800px;
    background: #fcfcfc;
    margin-top: -4px;
    
    
}
main h2{
font-size: 30px;
margin-top: 10px;
color: #131352;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
main p{
    min-width: fit-content;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1f1a1a;
    margin-top: -50px;
    margin-right: 1px;
  
}
main img{
    width: 90px;
    margin-top: 20px;
}
#d1 div{
    width: 274px;
    height: 470px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: left;
    box-shadow: 1px 1px 12px gray;
    margin-left: 100px;
    margin-top: 70px;
    

}

footer{
    width: 100%;
    min-width: 700px;
    height: 260px;
    background-color: #0e0e12;
    margin-top: -10px;
    clear: both;
    box-shadow: 0px 0px 40px black;
}
footer div p{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -150px;
    color: #ffffff;
    float: left;
    
}
footer div a:hover{
color: #ff4b5c;
}
